<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="health_service_provider"></dubbo:application>
    <dubbo:protocol name="dubbo" port="20887"></dubbo:protocol>
    <dubbo:registry address="zookeeper://47.103.198.184:2181"></dubbo:registry>
    <dubbo:annotation package="cn.skunk.service"></dubbo:annotation>
</beans>